* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    background-size: cover;
    background-position: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
}
article {
    margin-left: 30px;
    width: 500px;
}
article h1 {
    font-size: 40px;
    line-height: 40px;
}
article p {
    margin-top: 30px;
}
section {
    margin: 50px;
}

form {
    border-radius: 12px;
    display: grid;
    box-shadow: 0 10px rgba(0, 0, 0, 0.17);
}
.form-header {
    background: hsl(248, 32%, 49%);
    border-radius: 8px;
    box-shadow: 0 10px rgba(0, 0, 0, 0.17);
    margin: 20px 0;
    text-align: center;
    height: 80px;
}
.form-header p {
    padding: 25px;
}
form, input {
    background: #fff;
    padding: 20px;
}
form input {
    border: 1px solid lightgray;
    outline: none;
    border-radius: 8px;
    width: 100%;
}
::-webkit-input-placeholder {
    font-weight: 600;
}
form input:focus {
    border: 1px solid hsl(248, 32%, 49%);
}

form button {
    background: hsl(154, 59%, 51%);
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    border-radius: 5px;
    border: hsl(246, 25%, 77%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-weight: 600;
    letter-spacing: 0.128rem;
}

form p {
    color: hsl(246, 25%, 77%);
    text-align: center;
    padding: 10px 50px;
}

strong {
    color: hsl(0, 100%, 74%);
}
footer {
    text-align: center;
    padding: 20px;
}

footer a {
    color: hsl(248, 32%, 49%);
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("./images/bg-intro-mobile.png");
        flex-direction: column;
        margin: 50px 0;
    } 
    .container {
        flex-direction: column;
        padding: 20px;
    }
    article {
        padding: 30px;
        text-align: center;
        margin-left: 0;
        width: auto;
    }
    article h1 {
        font-size: 30px;
        margin: 0 30px;
    }
    article p {
        margin: 30px 10px;
        width: auto;
    }
    section {
        margin: 0 auto;
    }
    
}
@media screen and (max-width: 475px) {
    .form-header p {
        padding: 20px 50px;
    }
    article {
        margin-left: 0;
        padding: 0;
    }
    article h1 {
        margin: 0 10px;
    }
    article p {
        width: auto;
    }
    form p {
        padding: 10px 20px;
    }
}